<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887081821853-22kt5eeh0nc92j2f1tv3n77g4t2se9ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887081821853-22kt5eeh0nc92j2f1tv3n77g4t2se9ji</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Sfe6J9F2X5Vbd5-7JsgvtxfgkWmAhoU</string>
	<key>GCM_SENDER_ID</key>
	<string>887081821853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>dreamreader-aa940</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamreader-aa940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887081821853:ios:964a88d15f81a174509674</string>
</dict>
</plist>